@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  overflow-y: auto;
}

body {
  padding-top: 181px;
  @media (max-width: 1140px) {
    padding-top: 116px;
  }
}

.max-w-container {
  @media (max-width: 1819px) {
    padding: 0 32px;
  }
}

.swiper-button-disabled {
  svg {
    fill: #d9d9d9;
  }
}
